
        {
            margin:0;
            padding:0;
            box-sizing:border-box;
        }

        body{
            background:#faf7f5;
            font-family:Georgia, serif;
            display:flex;
            justify-content:center;
            align-items:center;
            height:100vh;
            color:#333;
        }

        .container{
            width:80%;
            max-width:700px;
            text-align:center;
            animation:fadeIn 2s;
        }

        h1{
            font-size:42px;
            margin-bottom:40px;
        }

        p{
            font-size:22px;
            line-height:1.8;
            margin-bottom:25px;
        }

        button{
            margin-top:40px;
            padding:15px 45px;
            border:none;
            background:#d6336c;
            color:white;
            font-size:18px;
            border-radius:50px;
            cursor:pointer;
            transition:.3s;
        }

        button:hover{
            transform:scale(1.05);
            background:#b81f58;
        }

        @keyframes fadeIn{
            from{
                opacity:0;
                transform:translateY(30px);
            }
            to{
                opacity:1;
                transform:translateY(0);
            }
        }

.hero-image{

width:300px;

border-radius:20px;

margin-top:40px;

box-shadow:0 20px 40px rgba(0,0,0,.18);

transition:.5s;

}

.hero-image:hover{

transform:scale(1.03);

}
